.btn-colorful {
    position: relative;
    width: 120px;
    height: 50px;
    border: 0;
    border-radius: 2px;
    outline: none;
    background: #1141e4;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 0px 4px 2px rgba(10, 10, 10, .4);
    transition: 0.3s all ease-in-out;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;

    &:hover {
        box-shadow: 0px 0px 3px 1px rgba(10, 10, 10, .2);
    }

    .ink {
        display: block;
        position: absolute;
        background: #B8E0E0;
        border-radius: 100%;
        width: 120px;
        height: 120px;
        transform: scale(0);
        
        &.anime {
          -webkit-animation: ripple 0.65s ease-in-out;
          animation: ripple 0.65s ease-in-out;
        }
        
        @-webkit-keyframes ripple {
          100% {
            opacity: 0;
            transform: scale(2.5);
          }
        }
        
        @keyframes ripple {
          100% {
            opacity: 0;
            transform: scale(2.5);
          }
        }
    }
}